Repository naeem-gitonga/myWebsite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_frontend_staging, deploy_frontend_production, build_prod

.gitlab-ci.yml:

include:
  - '/backend/apis/.gitlab-ci.yml'
  - '/backend/cdk/.gitlab-ci.yml'

image: node:20.11.1

stages:
  - test
  - build
  - test-cdk
  - deploy

.common_setup: &common_setup
  - cd backend/cdk
  - npm i
  - npm i -g aws-cdk typescript ts-node
  - aws sts get-caller-identity

.install-aws: &install-aws
  - apt update
  - apt install -y jq
  - curl -k "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip "awscliv2.zip"
  - ./aws/install

.authenticate-aws: &authenticate-aws
  - export CREDS=`aws sts assume-role --duration-seconds 10800 --role-session-name "gitlab-devops-${CI_PIPELINE_ID}" --role-arn arn:aws:iam::${AWS_ACCOUNT_NUMBER}:role/mywebsite-devops`
  - export AWS_ACCESS_KEY_ID=`echo $CREDS | jq -r .Credentials.AccessKeyId`
  - export AWS_SECRET_ACCESS_KEY=`echo $CREDS | jq -r .Credentials.SecretAccessKey`
  - export AWS_SESSION_TOKEN=`echo $CREDS | jq .Credentials.SessionToken`
  - export AWS_DEFAULT_REGION="${AWS_REGION}"
  - echo $AWS_SESSION_TOKEN

deploy_frontend_staging:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: '$CI_COMMIT_BRANCH == "staging"'
      changes:
        - app/**/*
        - components/**/*
        - hooks/**/*
        - pages/**/*
        - types/**/*
        - utils/**/*
        - next.config.js
        - package.json
        - vercel.json
  script:
    - curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_XVrzM2eALvquKAUKMDAlgjSccy4B/cGxMEW1fLT

deploy_frontend_production:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - app/**/*
        - components/**/*
        - hooks/**/*
        - pages/**/*
        - types/**/*
        - utils/**/*
        - next.config.js
        - package.json
        - vercel.json
  script:
    - curl -X POST https://api.vercel.com/v1/integrations/deploy/prj_XVrzM2eALvquKAUKMDAlgjSccy4B/k4eiYJ4iju

deploy_staging:
  stage: deploy
  environment:
    name: staging
  rules:
    - if: '$CI_COMMIT_BRANCH == "staging"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
  needs:
    - job: build_staging
      artifacts: true
    - job: test_cdk
  dependencies:
    - build_staging
  script:
    - *common_setup
    - npm i
    - |
      variables=(
        "ACCESS_KEY_ID=${ACCESS_KEY_ID}"
        "CALENDLY_API_ACCESS_TOKEN=${CALENDLY_API_ACCESS_TOKEN}"
        "DEAD_LETTER_QUEUE_URL=${DEAD_LETTER_QUEUE_URL}"
        "NODE_ENV=staging"
        "ORIGIN=${ORIGIN}"
        "SECRET_ACCESS_KEY=${SECRET_ACCESS_KEY}"
        "SEND_GRID_API_KEY=${SEND_GRID_API_KEY}"
        "STAGE=prod"
        "WHICH_ROUTE=${WHICH_ROUTE}"
      )
      env_file="./.env"
      for var in "${variables[@]}"; do
        echo "$var" >> "$env_file"
      done
    - cdk deploy --require-approval=never

build_prod:
  artifacts:
    expose_as: 'backend-build'
    name: 'backend-build'
    paths:
      - $PWD/backend/apis/.serverless/jngpaypal.zip
  needs: ['test_lambda']
  dependencies:
    - test_lambda
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - backend/apis/**/*
  stage: build
  environment:
    name: production
  script:
    - npm run package

fix: updates to jobs
  backend/apis/.gitlab-ci.yml
  backend/cdk/.gitlab-ci.yml
Due: build_prod

fix: remove build_prod
  .gitlab-ci.yml
Due: none

fix: remove deploy_staging
  .gitlab-ci.yml
Due: none

fix: update to pipeline
  .gitlab-ci.yml
  backend/apis/apis/paypal/handler.ts
Due: build_prod

fix: revert (somewhat) to previous working pipelines
  .gitlab-ci.yml
  backend/apis/.gitlab-ci.yml
Due: build_prod

fix: remove test_cdk dependency
  backend/apis/.gitlab-ci.yml
Due: build_prod

feat: add assume_role
  backend/apis/.gitlab-ci.yml
Due: build_prod

fix: move step to different job
  backend/apis/.gitlab-ci.yml
Due: build_prod

fix: add install_aws
  backend/apis/.gitlab-ci.yml
Due: build_prod

fix: use gitlab role to cdk deploy
  backend/apis/.gitlab-ci.yml
Due: build_prod

fix: use new infra role
  backend/apis/.gitlab-ci.yml
Due: build_prod

feat: added subtotal and moved
  backend/apis/.gitlab-ci.yml
  backend/cdk/.gitlab-ci.yml
  components/CartView/CartView.module.scss
  components/CartView/CartView.tsx
  utils/paypal.ts
Due: deploy_frontend_staging, deploy_frontend_production, build_prod

fix: update return type of createCartForPaypal
  utils/paypal.ts
Due: deploy_frontend_staging, deploy_frontend_production

fix: update to clear cart on order not sent update
  backend/apis/.gitlab-ci.yml
  backend/apis/apis/paypal/paypal-service.ts
  utils/paypal.ts
Due: deploy_frontend_staging, deploy_frontend_production, build_prod

Staging
  .gitlab-ci.yml
  backend/apis/apis/paypal/paypal-service.ts
Due: build_prod

feat: added promo banner
  app/layout.tsx
  app/page.tsx
  backend/apis/apis/paypal/paypal-service.ts
  components/CartView/CartView.module.scss
  components/CartView/CartView.tsx
  components/PromoBanner/PromoBanner.module.scss
  components/PromoBanner/PromoBanner.tsx
  components/ShoppingCartIcon/ShoppingCartIcon.module.scss
  utils/paypal.ts
Due: deploy_frontend_staging, deploy_frontend_production, build_prod

feat: add jobs from prod
  backend/apis/.gitlab-ci.yml
Due: build_prod

fix: update show two decimal places
  components/CartView/CartView.tsx
  utils/roundTonearestTwoDecimal.ts
Due: deploy_frontend_staging, deploy_frontend_production

fix: banner should not show if show promo banner env var is false
  components/PromoBanner/PromoBanner.module.scss
  components/PromoBanner/PromoBanner.tsx
  utils/roundTonearestTwoDecimal.ts
Due: deploy_frontend_staging, deploy_frontend_production

fix: update gitlab file
  backend/apis/.gitlab-ci.yml
Due: build_prod

fix: add test to all branches
  backend/apis/.gitlab-ci.yml
Due: build_prod

fix: update vars for build_production STAGE
  .prettierignore
  backend/apis/.gitlab-ci.yml
Due: build_prod

fix: update css for and add price
  .gitlab-ci.yml
  backend/apis/.gitlab-ci.yml
  components/ItemView/ItemView.module.scss
  components/ItemView/ItemView.tsx
Due: deploy_frontend_staging, deploy_frontend_production, build_prod

Staging
  backend/apis/.gitlab-ci.yml
Due: build_prod

feat: added dynamic metadata for seo
  app/item/page.tsx
  components/ItemView/ItemView.tsx
  utils/truncateString.ts
Due: deploy_frontend_staging, deploy_frontend_production

fix: remove include from root gitlab and removed unused partials
  .gitlab-ci.yml
Due: none

feat: add strike through price if there is a promotion
  components/ItemView/ItemView.module.scss
  components/ItemView/ItemView.tsx
  utils/books.json
Due: deploy_frontend_staging, deploy_frontend_production

fix: update pipeline
  backend/apis/.gitlab-ci.yml
Due: build_prod

feat: add price to item tile and change name
  backend/apis/.gitlab-ci.yml
  components/CartView/CartView.tsx
  components/ItemTile/ItemTile.module.scss
  components/ItemTile/ItemTile.tsx
  components/ItemView/ItemView.tsx
  components/Price/Price.module.scss
  components/Price/Price.tsx
  components/ShopView/ShopView.tsx
  types/book.ts
  utils/books.json
Due: deploy_frontend_staging, deploy_frontend_production, build_prod

fix: add work to its own component
  app/page.tsx
  app/work/page.tsx
  components/Header/Header.tsx
  components/ItemTile/ItemTile.module.scss
  components/ItemView/ItemView.module.scss
  components/MyWork/MyWork.module.scss
  components/MyWork/MyWork.tsx
Due: deploy_frontend_staging, deploy_frontend_production

fix: remove unecessary rule
  backend/apis/.gitlab-ci.yml
  components/Header/Header.tsx
  components/MyWork/MyWork.tsx
Due: deploy_frontend_staging, deploy_frontend_production, build_prod

fix: remove two old crusty projects that I'm not proud of
  app/work/page.tsx
  components/Project/projects.ts
Due: deploy_frontend_staging, deploy_frontend_production

feat: add testing to price component
  app/work/page.tsx
  babel.config.json
  components/Price/Price.spec.tsx
  components/Price/Price.tsx
  jest.config.js
  package-lock.json
  package.json
Due: deploy_frontend_staging, deploy_frontend_production

updates
  babel.config.json
  components/CartView/CartView.tsx
  package-lock.json
Due: deploy_frontend_staging, deploy_frontend_production

fix: add stack items and show nav links
  components/CartView/CartView.tsx
  components/MyWork/MyWork.tsx
  components/StackItems/StackItems.tsx
Due: deploy_frontend_staging, deploy_frontend_production

feat: add google tag manager
  app/globals.css
  app/layout.tsx
  app/work/page.tsx
Due: deploy_frontend_staging, deploy_frontend_production

fix: add id to script and remove cartheight from deps
  app/layout.tsx
  components/CartView/CartView.tsx
Due: deploy_frontend_staging, deploy_frontend_production

feat: added some datalayer push for events
  app/globals.css
  app/layout.tsx
  app/page.tsx
  components/AddToCartButton/AddToCartButton.tsx
  types/global.d.ts
  utils/paypal.ts
Due: deploy_frontend_staging, deploy_frontend_production

fix: generalize book --> product
  app/item/page.tsx
  components/AddToCartButton/AddToCartButton.tsx
  components/AddToCartMessage/AddToCartMessage.tsx
  components/CounterInput/CounterInput.tsx
  components/ItemTile/ItemTile.tsx
  components/ItemView/ItemView.tsx
  components/ShopView/ShopView.tsx
  components/SmallItemPreview/SmallItemPreview.tsx
  hooks/useCart.ts
  types/cartItem.ts
  types/product.ts
  utils/books.json
  utils/products.json
Due: deploy_frontend_staging, deploy_frontend_production

fix: generalize book --> product
  types/product.ts
Due: deploy_frontend_staging, deploy_frontend_production
